# Node.js
**/node_modules/
**/dist/
**/.vite/

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/venv/
**/.venv/

# Database / Local Run SQLite
**/*.db
**/*.db-journal
**/*.db-shm
**/*.db-wal

# Environment files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# OS files
**/.DS_Store
Thumbs.db

# LLM Local Weights / Models
**/models/
**/*.gguf
